@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
    font-family: "poppins";
}
#container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)) ,url(image/developer.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
#header{
    width: 100%;
    height: 15%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* #header #logo{
    width: 100px;
    border-radius: 8px;
    margin-left: 50px;
} */
#header h1{
    margin-left: 50px;
    border-bottom: 3px solid gray;
    /* color: rgb(135, 92, 175); */
    color: gray;
    font-size: 2.5rem;
    cursor: pointer;
}
#header h1:hover{
    color: darkgray;
}
#header a{
    margin-right: 50px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.3);
    padding: 5px 10px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
}
#header a:hover{
    border-radius: 8px;
    background-color: #fff;
    color: rgba(15, 14, 14, 0.3);
}
body.show-nav {
    transform: translateX(200px);
}
#navbar{
    width: 250px;
    height: 100vh;
    background-color: #1885bb;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    transform: translateX(-100%);
}
#navbar #icon{
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: bolder;
    color: #fff;
    background-color: #063146;
    margin-left: 70%;
    margin-top: 5%;
}
#navbar h1{
    font-size: 38px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
}
#navbar #nav{
    display: block;
    line-height: 65px;
    font-size: 22px;
    box-sizing: border-box;
}
#nav ul li{
    border-top: 3px solid rgba(39, 37, 37, 0.1);
    list-style: none;
    padding-left: 40px;
    width: 100%;
    height: 100%;
}
#nav ul li:hover a{
    padding-left: 20px;
}
#nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
#content{
    /* font-size: 2.5rem; */
    position: absolute;
   
    width: 50%;
    height: 60%;
    left: 10%;
    top: 28%;
}
#content h1{
    font-size: 3.5rem;
    color: gray;
}
#content p{
    font-size: 2rem;
    color: gray;
}
#content button{
    padding: 12px 20px;
    outline: none;
    border: 3px solid gray;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 10px;
    color: gray;
    transition: 0.7s;
}
#content button:hover{
    background-color: gray;
    color: darkgray;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    overflow: hidden;
}
#footer{
    width: 100%;
    height: 12%;
    color: gray;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal{
    width: 40%;
    height: 72%;
    background-color: #fff;
    position: absolute;
    left: 30%;
    border-radius: 8px;
    display: none;
}
#modal h1{
    color: gray;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}
#modal input{
    width: 80%;
    height: 40px;
    margin-top: 30px;
    margin-left: 10%;
    outline: none;
    border: none;
    background-color: rgb(214, 208, 208);
    border-radius: 8px;
    color: #000;
    font-size: 1.5rem;
}
#btn{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#btn button{
    padding: 12px 20px;
    outline: none;
    border: 3px solid gray;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 10px;
    color: gray;
    transition: 0.7s;
}
#btn button:hover{
    background-color: gray;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}
/* #input{
    margin-top: 20px;

} */